<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button id="main"></ion-menu-button>
  </ion-buttons>

  <ion-title>

  </ion-title>

  <ion-buttons slot="end">

    <ion-button>
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
    <ion-searchbar style="max-width: 300px; text-align: left" ></ion-searchbar>
  </ion-buttons>

</ion-toolbar>
<ion-buttons class="center-buttons">
  <ion-button class="home-button">
    <img src="../assets/icon/møøhnika.png" height="100px" width="100px">
  </ion-button>
</ion-buttons>
