<ion-app>
  <div class="content">
    <app-animal-names style="margin-top: 100px; margin-left: 50px"></app-animal-names>
  </div>
  <app-animal-information style="margin-top: -320px; margin-right: 50px; align-self: end"></app-animal-information>
  <app-animal-picture style="margin-left: 50px; margin-top: 500px; position: absolute"></app-animal-picture>

  <ion-buttons style="margin: 50px; gap: 25px">
    <ion-button fill="outline" color="dark" style="width: 150px">Edit</ion-button>
    <ion-button fill="outline" color="dark" style="width: 150px">Email</ion-button>
  </ion-buttons>
</ion-app>
