<ion-app>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card class="login-card">
    <form [formGroup]="form">
    <!--Username-->
    <ion-item>
      <ion-label position="floating" >Email</ion-label>
      <ion-input formControlName="Email" type="username" placeholder="name@company.com"></ion-input>
    </ion-item>

    <!--Password-->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="Password" type="password"></ion-input>
    </ion-item>
      <div style=" display: flex; align-items: center; justify-content: center;">
        <ion-button (click)="submit()">login</ion-button>
        <ion-button fill="clear" (click)="ResetPassword()">Reset password</ion-button>
      </div>
    </form>
    </ion-card>
  </div>
</ion-app>
