<ion-app>
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card class="login-card">
    <!--Username-->
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <!--Password-->
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
      <div style=" display: flex; align-items: center; justify-content: center;">
        <ion-button>login</ion-button>
        <ion-button fill="clear">Reset password</ion-button>
      </div>
    </ion-card>
  </div>
</ion-app>
