<ion-card class="info-list">
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-label>
          Name: {{state.currentAnimal.animalName}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Weight: {{state.currentAnimal.animalWeight}} kg.
        </ion-label>
      </ion-item>
      <ion-item *ngIf="state.currentAnimal.animalGender else female">
        <ion-label>
          Gender: Male
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Age: {{animalAge}} years old.
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Birthday: {{state.currentAnimal.animalBirthday}}
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Species: {{state.currentAnimalSpecies.speciesName}}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<app-animal-picture></app-animal-picture>

<ion-card class="note">
  <ion-card-header>Notes</ion-card-header>
  <ion-textarea id="text-area" [disabled]="!toggleEditButtons">{{state.currentAnimalNote.noteText}}</ion-textarea>
  <ion-footer>
    <ion-buttons style="gap: 10px">
      <ion-button color="dark" fill="outline" *ngIf="!toggleEditButtons" (click)="toggleEdit()">Edit</ion-button>
      <ion-button color="dark" fill="outline" *ngIf="toggleEditButtons" (click)="toggleEdit()">Save</ion-button>
    </ion-buttons>
  </ion-footer>
</ion-card>
<ng-template #female>
  <ion-item>
    <ion-label>
      Gender: Female
    </ion-label>
  </ion-item>
</ng-template>
