<ion-app>
  <div></div>
  <ion-card >
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>
            Name:
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Weight:
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Gender:
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            Species:
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-app>
