.container{
  display: flex;
  max-width: 400px;
  max-height: 400px;
  margin: 0 auto;
}

ion-item{
  background-color: #fff;
  padding: 10px;

  &.ion-activated{
    background-color: #0cd1e8;
    border: 1px solid #cccccc;
  }
}


