<ion-app>
  <ion-content>
    <div class="card-container">
      <ion-card [button]="true" class="results" *ngFor="let AnimalSpeciesFeed of state.animalSpeciesFeed"
                (click)="goToSpecies(AnimalSpeciesFeed.speciesID)">
        <ion-toolbar>
          <ion-title class="animal-box-name">{{AnimalSpeciesFeed.speciesName}}</ion-title>
        </ion-toolbar>
        <div class="animal-box-full">
          <div class="animal-image-container">
            <img class="animal-image" [src]="AnimalSpeciesFeed?.speciesPicture || '../assets/icon/møøhnika.png'">
          </div>
        </div>
      </ion-card>
    </div>
  </ion-content>
</ion-app>
