<ion-app>
  <ion-content class="Container">
    <app-employee-list></app-employee-list>

      <ion-button *ngIf="state.selectedUser?.userID !== undefined; else isDisabled"
                  (click)="disableEmployee(state.selectedUser.userID)">Disable
      </ion-button>
      <ng-template #isDisabled>
      <ion-button [disabled]="true">Disable</ion-button>
    </ng-template>

    <ng-template #editDisable>
      <ion-button [disabled]="true">Rediger</ion-button>
    </ng-template>

    <ion-button *ngIf="state.selectedUser?.userID !== undefined; else editDisable"
                (click)="updateEmployee()">Rediger
    </ion-button>
    <ion-button (click)="openCreateEmployeeModal()">Ny bruger</ion-button>

  </ion-content>
</ion-app>
